---
export interface Post {
	title:string;
	id: number;
	completed: boolean;
}

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


const res = await fetch(`https://jsonplaceholder.typicode.com/todos/`);
const results = await res.json();

---

<Layout title="Welcome to Astro.">
	<main>
		{results.map((r:Post)=>(<Card title={r.title}/>))}
	</main>
</Layout>

<style>

</style>
